{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body class="page-template page-template-full-width page-template-full-width-php page page-id-30 mkd-core-1.0 mkdf-social-login-1.0 mkd-re-1.1.1 zuhaus child-child-ver-1.0.0 zuhaus-ver-1.1.1 mkdf-grid-1200 mkdf-sticky-header-on-scroll-up mkdf-dropdown-animate-height mkdf-header-standard mkdf-menu-area-shadow-disable mkdf-menu-area-in-grid-shadow-disable mkdf-menu-area-border-disable mkdf-menu-area-in-grid-border-disable mkdf-woocommerce-columns-3 mkdf-woo-normal-space mkdf-woo-pl-info-below-image mkdf-woo-single-thumb-below-image mkdf-woo-single-has-pretty-photo mkdf-default-mobile-header mkdf-sticky-up-mobile-header wpb-js-composer js-comp-ver-6.0.5 vc_responsive" itemscope="" itemtype="http://schema.org/WebPage">
<div class="mkdf-wrapper">
<div class="mkdf-wrapper-inner">


{% include 'header.html' %}

{% include 'header-mobile.html' %}


{% block content %}

{% endblock %}

{% include 'footer.html' %}
{% include 'login_and_reg.html'%}
{% include 'scripts.html'%}


{% block extra_scripts %}
{% endblock %}

</body>

</html>


